<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Rupert Parry is a creative technologist, designer and musician with an eye on how emerging tech interacts with human culture.">


	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
	<link rel="shortcut icon" href="/assets/images/favicon.ico">

	<base target="_blank"/>

	<link rel="stylesheet" href="/assets/stylesheets/base.css" />
	{% if stylesheet %}
		<link rel="stylesheet" href="/assets/stylesheets/{{stylesheet}}.css" />
	{% endif %}

	<title>Rupert Parry – Creative Technologist, Futurist & Musician</title>
</head>
<body>
	<div class="wrapper">
		{{ content }}
	</div>
</body>
</html>